<html>

<head>
    <title> expresss-rss-reader </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body>
    <div class="header">
        <div class="float-btn">
            <button class="btn btn-success" onclick="openForm()">+</button>
        </div>
        <div class="form-popup" id="myForm">
            <form method="post" action="/addFeed" class="form-container">
                <h1>Add RSS-Feed</h1>

                <label for="email"><b>RSS-Feed URL</b></label>
                <input type="text" placeholder="enter URL here" name="rssfeedlink" required>

                <label for="feedName"><b>Feed-Name</b></label>
                <input type="text" placeholder="Enter name" name="feedName" required>

                <button type="submit" class="btn">Add</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            </form>
        </div>
        <form method="post" action="/feedOverview">
            <input type="submit" value="Overview" class="btn btn-secondary">
        </form>
    </div>
    <div class="list-group">
        <%result.forEach(result => {%>

        
            <li class="list-group-item" name="name"><form method="post" action="/showfeed">
               <div>
                   <input type="text" class='invisible-shit' name="linktofeed" value="<%- result.url%>"></input>
                <div class="float-left" name="deleteName" value="<%- result.name%>">
                    <%- result.name%>
                </div>
                
                <div class="float-right">
                    <input type="submit" value="show feed" class="btn btn-secondary">
                </div>
            </form>
            <div class="float-right">
                <form method="post" action="/deleteFeed">
                    <input type="submit" value="Remove" class="btn btn-danger"> 
                    <input type="text" class='invisible-shit' name="linktofeed" value="<%- result.url%>"></input>
                </form>   
            </div>
        </div> 
            </li>
        <%});%>
    </div>

</body>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
</html>