<html>

<head>
    <title> expresss-rss-reader </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body>
    <form method="post" action="/addFeed">
        <input type="text" name="rssfeedlink" value="hier Link einfügen">
        <input type="text" name="feedName" value="hier Name einfügen">
        <input type="submit" value="Submit">
    </form>
    <form method="post" action="/removeDatabase">
        <input type="submit" value="Delete Database">
    </form>
    <form method="post" action="/feedOverview">
        <input type="submit" value="Overview">
    </form>
    <%result.forEach(result => {%>
    <div class="jumbotron">
        <form method="post" action="/showfeed">
            <input type="text" class='invisible-shit' name="linktofeed" value="<%- result.url%>"></input>
            <h1 class="my-4" name="name">
                <%- result.name%>
            </h1>
            <hr class="my-4">
            <p class='lead'>
                <%- result._id%>
            </p>
            <input type="submit" value="show feed">
        </form>
    </div>
    <%});%>
</body>

</html>