<html>

<head>
    <title> expresss-rss-reader </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>

<body>
    <div class="header">
        <div class="float-btn">
            <button class="btn btn-success" onclick="openForm()">+</button>
        </div>
        <div class="form-popup" id="myForm">
            <form method="post" action="/addFeed" class="form-container">
                <h1>Add RSS-Feed</h1>

                <label for="email"><b>RSS-Feed URL</b></label>
                <input type="text" placeholder="enter URL here" name="rssfeedlink" required>

                <label for="feedName"><b>Feed-Name</b></label>
                <input type="text" placeholder="Enter name" name="feedName" required>

                <button type="submit" class="btn">Add</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            </form>
        </div>
        <form method="post" action="/feedOverview">
            <input type="submit" value="Overview" class="btn btn-secondary">
        </form>
        <form method="post" action="/removeDatabase">
            <input type="submit" value="Delete Database" class="btn btn-secondary">
        </form>

    </div>
    <%result.forEach(result => {%>
    <div class="jumbotron">
        <form method="post" action="/showfeed">
            <input type="text" class='invisible-shit' name="linktofeed" value="<%- result.url%>"></input>
            <h1 class="my-4" name="name">
                <%- result.name%>
            </h1>
            <hr class="my-4">
            <p class='lead'>
                <%- result._id%>
            </p>
            <input type="submit" value="show feed" class="btn btn-secondary">
        </form>
    </div>
    <%});%>
</body>

</html>