.article-title {
    color: brown; 
}

.article {
    margin-top: 1%;
}

.article-picture > img{
    height: 30%; 
    width: auto;
}

a {
    font-size: x-large;
    font-variant-caps: inherit;
    background: lightblue; 
}

.jumbotron {
    margin-top: 1%; 
    width: 70%;
    margin-left: auto; 
    margin-right: auto; 
    height: auto;
}

.header {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
    margin-bottom: 1%;
    z-index: 8;
}

.invisible-shit {
    display: none; 
    z-index: 1;
}

.header > form {
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-top:1%
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 400px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .float-btn {
      margin-top: 1%;
      margin-left: 1%; 
      float: left;
      z-index: 1;
  }

  .list-group {
      width: 70%;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
  }

.float-left {
    float: left;
    z-index: 1;
}

.float-right{
    float: right;
    margin-left: 1%;
    z-index: 1;
}

.list-group-item{
    height: 4rem;
    z-index: 1;
}